<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Cycle1">
    <test name="Test1">
        <parameter name="username" value="Admin"/>
        <parameter name="password" value="admin123"/>
        <classes>
            <class name="com.tests.LoginTests"/>
        </classes>
    </test>
</suite>